@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?5qefxq') format('truetype'),
    url('../fonts/icons.woff?5qefxq') format('woff'),
    url('../fonts/icons.svg?5qefxq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-chevron-left:before {
  content: "\f053";
}

._icon-chevron-right:before {
  content: "\f054";
}

._icon-twitter:before {
  content: "\f099";
}

._icon-facebook:before {
  content: "\f09a";
}

._icon-facebook-f:before {
  content: "\f09a";
}

._icon-angle-down:before {
  content: "\f107";
}

._icon-instagram:before {
  content: "\f16d";
}

._icon-user-circle-o:before {
  content: "\f2be";
}